<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script>
        function copy_manually(url) {
            var textArea = document.createElement("textarea");
            textArea.value = url;
            
            textArea.style.top = "0";
            textArea.style.left = "0";
            textArea.style.position = "fixed";

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var successful = document.execCommand('copy');
                if(successful) {
                    $("#button-addon").tooltip('hide')
                        .attr('data-original-title', "Copied!")
                        .tooltip('show');
                }
            } catch (err) {
                $("#button-addon").tooltip('hide')
                    .attr('data-original-title', "Couldn't copy!")
                    .tooltip('show');
            }

            document.body.removeChild(textArea);
        }

        function copy(url) {
            if (!navigator.clipboard) {
                copy_manually(url);
                return;
            }
            
            navigator.clipboard.writeText(url).then(() => {
                $("#button-addon").tooltip('hide')
                    .attr('data-original-title', "Copied!")
                    .tooltip('show');
            }, err => {
                copy_manually(url);
                return;
            });
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-8" style="margin-top: 30px;">
            <h1 style="text-align: center;">Create a shortlink</h1>
            <div class="form-group input-group-lg">
                <input type="url" placeholder="Paste your URL here." class="form-control" id="urlInput" required>
                <small id="urlInputHelp" class="form-text text-muted">After you hit "submit", we'll create a shortlink that redirects to your URL.</small>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="emailInput">Your email address (optional)</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailInputHelp">
                    <small id="emailInputHelp" class="form-text text-muted">If you want to be able to modify or delete your shortlink after the creation, you must enter your email address here.</small>
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="delayInput">Delay</label>
                    <input type="number" value="0" class="form-control" id="delayInput" aria-describedby="delayInputHelp">
                    <small id="delayInputHelp" class="form-text text-muted">The time (in seconds) the page waits until it redirects the user to your URL.</small>
                </div>
                <div class="col-sm-12 col-md-3"></div>
                <div class="col-sm-12 col-md-6">
                    <button onclick="short();" type="submit" style="margin-top: 10px;" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#awaitingLinkModal">Submit</button>
                </div>
                <div class="col-sm-12 col-md-3"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-2"></div>
    </div>

    <div class="modal fade" id="awaitingLinkModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="awaitingLinkModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="awaitingLinkModalLabel"><div class="spinner-border" role="status"></div> Shortlink is being created...</h5>
            </div>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        $(() => {
            $('body').tooltip({ selector: '[data-toggle="tooltip"]' });
        });

        function short() {
            let longlink = $("#urlInput").val();
            let email = $("#emailInput").val();
            let delay = $("#delayInput").val();

            if(!longlink.includes("https://") && !longlink.includes("http://") || !longlink.includes(".")) {
                alert("Please enter a valid URL (must include 'https://' or 'http://').");
                location.reload();
            }

            if(!delay.match(/^\d+$/)) {
                alert("Please enter a valid delay (only numbers)!");
                location.reload();
            }

            fetch(`/api/create`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({longlink: longlink, email: email, delay: delay})
            })
                .then(res => res.text())
                .then(res => {
                    console.log(res);
                    let showlink = location.href.replace("https://", "").replace("http://", "") + res
                    $("#awaitingLinkModal .modal-header").html('<h5 class="text-success modal-title">✅ Your shortlink is ready!</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
                    $("#awaitingLinkModal .modal-dialog .modal-content").append(`
                        <div class="modal-body input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon">🔗</span>
                            </div>
                            <input type="text" id="link-output" class="form-control" aria-describedby="button-addon" value="${showlink}" disabled>
                            <div class="input-group-append">
                                <button onclick="copy('${location.href + res}')" class="btn btn-secondary" type="button" id="button-addon" data-toggle="tooltip" data-placement="top" title="Click to copy to clipboard.">Copy</button>
                            </div>
                        </div>
                    `);
                });
        }
    </script>
</body>
</html>