<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    {% if link != "error" %}
        <meta http-equiv="refresh" content="{{ link['delay'] }}; URL={{ link['redirect'] }}">
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-12 col-md-3"></div>
            <div class="alert alert-success col-sm-12 col-md-6" role="alert">
                <h4 class="alert-heading">Redirecting...</h4>
                <p>You'll be redirected automatically.</p>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <hr>
                {% if link["delay"] != 0 %}
                    <p class="mb-0"><b>This link has a delay of {{ link['delay'] }} seconds.</b></p>
                {% else %}
                    <p class="mb-0"><b>Still not redirected?</b> Click <a href="{{ link['redirect'] }}">here</a>.</p>
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-3"></div>
        </div>
    {% else %}
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-12 col-md-3"></div>
        <div class="alert alert-danger col-sm-12 col-md-6" role="alert">
            <h4 class="alert-heading">404 - Not found.</h4>
            <p>We were not able to find your link. Sorry.</p>
        </div>
        <div class="col-sm-12 col-md-3"></div>
    {% endif %}
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>